body {
    font-siz: 16px;
}

header {
    background: #808080;
    width: 100%;
    min-height: 40px;
}

#settings {
    font-size: 30px;
    color: #fff;
    padding: 8px;
}

.fa-cog {
    margin-top: 4px;
}