body {
    font-size: 16px;
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

a {
    font-weight: 500;
}

header {
    background: #619BE3;
    width: 100%;
    min-height: 40px;
}

#settings {
    font-size: 30px;
    color: #fff;
    padding: 8px;
}

.fa-cog {
    margin-top: 4px;
}

#taskBox ul {
    padding: 0;
    margin: 10px;
}

    #taskBox ul li {
        list-style-type: none;
        width: 100%;
        background: #ededed;
        margin: 10px 0 10px 0;
        padding: 10px 0 10px 5px;
    }

#input {
    width: 50%;
    height: 28px;
    margin: 10px 0 10px 0;
    padding-left: 5px;
    border: none;
}

#addBtn {
    border-radius: 30px;
    background-color: #fff;
    color: #0BAB00;
    width: 30px;
    margin: 10px;
    height: 30px;
    display: block;
    float: left;
}

.checkDone {
    margin: 0 10px 0 0;
    float: right;
    color: #00ac16;
}

.fa-plus {
    padding: 8px;
}
